doctype html
html
  head
    meta(charset='UTF-8')
    title= htmlWebpackPlugin.options.title

    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
      integrity="sha256-mIfhv/h3MLq3WSiSlduuZO3saRNzzuf1LK8w3z3l3JY="
      crossorigin="anonymous"
    )
    link(
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    )
    link(
      href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/css/pikaday.min.css'
      rel='stylesheet'
      integrity='sha256-v12lcgVxmB0DXa93NoOWSE4yKhSj9Bei8Tbx5f6ozho='
      crossorigin='anonymous'
    )

  body
    div(id='app')
      router-view

    script(
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
      crossorigin="anonymous"
    )
    script(
      src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'
      integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb'
      crossorigin='anonymous'
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
      integrity="sha256-j+XrvkQ4jJ99Hj0pJKPr6k0RCgxDDSTs3PBqLrX2EMc="
      crossorigin="anonymous"
    )
    script(
      src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js'
      integrity='sha256-Mwee5t+bD35zhwF9nGFf7szo0kMlILdBFdSK5xPQaTI='
      crossorigin='anonymous'
    )
    script(
      src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/pikaday.min.js'
      integrity='sha256-iU+NntiJPTfUTA16e6dbmTdEpQgcYyKhlg0OlnUTYVo='
      crossorigin='anonymous'
    )
